@font-face {
    font-family: Minecraft;
    src: url("Minecraft-Regular.otf") format("opentype");
}

@font-face {
    font-family: Minecraft;
    font-weight: bold;
    src: url("Minecraft-Bold.otf") format("opentype");
}

@font-face {
    font-family: Minecraft;
    font-style: italic;
    src: url("Minecraft-Italic.otf") format("opentype");
}

@font-face {
    font-family: Minecraft;
    font-weight: bold;
    font-style: italic;
    src: url("Minecraft-BoldItalic.otf") format("opentype");
}

.obfuscated {
    display: inline-block;
    width: 10px;
}

.obfuscated[style*="bold"] {
    width: 13px;
}

@keyframes a {
    to {
        background-position: 33.33% 33.33%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;

    overflow: hidden;
    overscroll-behavior: none;
}

body {
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

main > div {
    flex: 1;

    width: 100%;
    height: 100%;
}

main > div:first-child {
    border-right: 1px solid #696969;

    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    height: 100%;

    resize: none;

    font-family: monospace;
    font-size: 1rem;

    border: none;
    outline: none;

    padding: 0.75rem 0.5rem;

    flex: 1;
}

main > div:last-child {
    display: grid;
    place-items: center;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #110211;
    z-index: -1;
}

section {
    position: relative;
    /* background-color: #110211; */

    background: linear-gradient(
        -45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 5%,
        rgba(208, 222, 33, 1) 10%,
        rgba(79, 220, 74, 1) 15%,
        rgba(63, 218, 216, 1) 20%,
        rgba(47, 201, 226, 1) 25%,
        rgba(28, 127, 238, 1) 30%,
        rgba(95, 21, 242, 1) 35%,
        rgba(186, 12, 248, 1) 40%,
        rgba(251, 7, 217, 1) 45%,
        rgba(255, 0, 0, 1) 50%,
        rgba(255, 154, 0, 1) 55%,
        rgba(208, 222, 33, 1) 60%,
        rgba(79, 220, 74, 1) 65%,
        rgba(63, 218, 216, 1) 70%,
        rgba(47, 201, 226, 1) 75%,
        rgba(28, 127, 238, 1) 80%,
        rgba(95, 21, 242, 1) 85%,
        rgba(186, 12, 248, 1) 90%,
        rgba(251, 7, 217, 1) 95%,
        rgba(255, 0, 0, 1) 100%
    );
    background-size: 400% 400%;
    background-position: bottom right;

    animation: a 4s linear infinite;

    color: #ffffff;

    font-family: Minecraft;
    font-size: 1.5rem;

    line-height: 1;

    border: 2px solid #230157;
    outline: 2px solid #110211;

    border-radius: 1px;

    padding: 0.35rem;

    white-space: pre-wrap;
    overflow-wrap: break-word;

    max-width: 800px;

    color: transparent;
    background-clip: text;
}

.key {
    font-family: Minecraft;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    height: fit-content;

    padding: 0.25rem;

    border-top: 1px solid #cccccc;
}

@media (max-width: 1512px) {
    .key {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1284px) {
    .key {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 978px) {
    main {
        flex-direction: column;
    }

    main > div:first-child {
        border-right: none;

        border-bottom: 1px solid #696969;
    }

    .key {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 666px) {
    .key {
        grid-template-columns: repeat(3, 1fr);
    }
}
